.processIcon {
  width: 23px;
  height: 23px;
}


.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:3px;
    margin-top: 10px;
}

.margin-left-sm {
  margin-left: 10px;
}

.word-spacing-sm {
  word-spacing: 2px;
}

.commentText {
  font-size: 13px;
  margin-left: 5px;
}
.commentBox {
  padding-top: 6px;
}